language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - travis_retry composer self-update
  - travis_retry composer install

script:
  - bash -c 'if [ "$TRAVIS_PHP_VERSION" == "hhvm" ]; then vendor/bin/phpunit; fi;'
  - bash -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then vendor/bin/phpunit --coverage-clover build/logs/clover.xml; fi;'

after_script:
  - bash -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then wget https://scrutinizer-ci.com/ocular.phar; fi;'
  - bash -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml; fi;'

notifications:
  slack:
    secure: yOg01dBH/CzzeGUAap1vwZg9hsGuRWnk0tG75SJlPnb6SDt+0lv7iU2Fxv89c3MYjFORAG2JbI4YF9ec8NccAdfqHHhzatWfs4se+AakhgnwfdvcCrnGxnhoDwRLSVNCKdzMBWuXD5uVZMBQTkklfVkBe3OFmHgLuGA/kpb5+kw=
